nav-wrapper {
    padding: 15px 10px;
}

body {
    background: rgba(240,20,196,1);
    background: -moz-linear-gradient(left, rgba(240,20,196,1) 0%, rgba(127,219,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(240,20,196,1)), color-stop(100%, rgba(127,219,255,1)));
    background: -webkit-linear-gradient(left, rgba(240,20,196,1) 0%, rgba(127,219,255,1) 100%);
    background: -o-linear-gradient(left, rgba(240,20,196,1) 0%, rgba(127,219,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(240,20,196,1) 0%, rgba(127,219,255,1) 100%);
    background: linear-gradient(to right, rgba(240,20,196,1) 0%, rgba(127,219,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f014c4', endColorstr='#7fdbff', GradientType=1 );


    background-size: 100%;
}

#nav {
    padding: 25px;
}

#opc li a {
    display: block;
}

#opc li:hover > a {
    /* background-color: rgba(17, 17, 17, 0.1); */
    /* color: #ff8f00; */
}

#body {
    margin-top: 25px;
    background-color: rgba(33, 33, 33, 0.5);
    color: #ff8f00;
}

.parallax-container {
    max-height: 380px;
}

#para {
    filter: blur(4px);
}
.carousel{
    height: 500px;
}
.card{
    min-height: px;
}
footer{
    background: rgba(240,20,196,1);
    background: -moz-linear-gradient(left, rgba(240,20,196,1) 0%, rgba(127,219,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(240,20,196,1)), color-stop(100%, rgba(127,219,255,1)));
    background: -webkit-linear-gradient(left, rgba(240,20,196,1) 0%, rgba(127,219,255,1) 100%);
    background: -o-linear-gradient(left, rgba(240,20,196,1) 0%, rgba(127,219,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(240,20,196,1) 0%, rgba(127,219,255,1) 100%);
    background: linear-gradient(to right, rgba(240,20,196,1) 0%, rgba(127,219,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f014c4', endColorstr='#7fdbff', GradientType=1 );
    padding-left: 0px;

}
header{
    background-image: url("https://www.mrperswall.com/sites/default/files/styles/gallery_large/public/wallpapers/wall/P131504-W.jpg");
    padding-left: 0px;
    background-size: 100%;
}
.header{
    background-color: rgba(0,0,0,.5);
    padding-bottom: 60px;
}
.principal{
    background-color: rgba(0,0,0,.2);
}
.columna{
    height: 300px;
}
.botones{
    height: 300px;
}
